.social {
    justify-content: center;
    margin: 1em auto;
    display: flex;
    list-style: none;
    gap: 1.5em;
    padding: 0 !important;
    list-style-type: none;
  }
  
  .socialItem {
    text-decoration: none;
  }
  
  .socialIcon {
    font-size: 2.8em !important;
  }